<ion-view view-title="Checkpoint">
  <ion-content>

		<div class="padding">
		
			<h3 class="ion-ios-briefcase-outline"> {{getCurrentCabinet().name}}</h3>
		</div>
		
		<ion-list>
			<ion-item href="#/app/patients" >
				<i class="icon ion-ios-people"></i>
				Patients
				<span class="badge badge-stable">{{patients.length}}</span>     
				<div class="item-icon-right">
			    	<i class="icon ion-ios-arrow-right"></i>
			    </div>
			</ion-item>
			<ion-item href="#/app/tournees">
				<i class="icon ion-ios-medkit"></i>
			Mes tournées
			<span class="badge badge-stable">3</span>     
				<div class="item-icon-right">
			    	<i class="icon ion-ios-arrow-right"></i>
			    </div>
			</ion-item>
		
		
		</ion-list>
		
  </ion-content>
</ion-view>
