<ion-view cache-view="false" class="bg-login"> 
	
<ion-nav-bar class="no-border">
		<!--Logo-->
		<ion-nav-buttons  side="right">
		</ion-nav-buttons>
		<ion-nav-buttons side="left">
		</button>
	</ion-nav-bar>

	<ion-content>
	
		<div style="text-align:center">
			<img src="img/check.png" style="width:40%" />
		</div>
	
		<form novalidate class="simple-form" name="accountForm" dont-fill>
			<ion-list class="no-border">
			<div class="item item-input-inset">
				<label class="item item-input-wrapper"> <i
					class="icon ion-ios-email-outline placeholder-icon larger"></i> <input
					type="text" ng-model="user.email" ng-required="true"
					autocomplete="off" placeholder="Votre email">
				</label>
			</div>
		
			<div class="item item-input-inset">
				<label class="item item-input-wrapper"> <i
					class="icon ion-ios-unlocked-outline placeholder-icon larger"></i> <input
					type="password" ng-model="user.password" ng-required="true"
					autocomplete="off" placeholder="Votre mot de passe">
				</label>
			</div>
			</ion-list>
			<div class="padding">
				<button class="button button-block " ng-click="login()">Se
					connecter</button>
			</div>
		</form>
		<br />
		<div style="text-align: center;color:white">
			Pas encore de compte ? 
				<a 	href="javascript:;"
					style="color:white"
					ng-click="goLoginCreate()">Créez en un !</a>
		</div>
	</ion-content>
</ion-view>


