
<ion-view cache-view="false" class="bg-boot">
    <ion-nav-bar class="no-border">
		<!--Logo-->
		<ion-nav-buttons  side="right">
		</ion-nav-buttons>
		<ion-nav-buttons side="left">
		</button>
	</ion-nav-bar>
    <ion-content class="login-content">  
    
    	<div style="text-align:center">
			<img src="img/check.png" style="width:40%" />
		</div>
    	
		<form novalidate class="simple-form" name="accountForm" dont-fill >
    		<ion-list class="no-border">
				<div class="item item-input-inset">
			      <label class="item item-input-wrapper">
			      <i class="icon ion-ios-email-outline placeholder-icon larger"></i>
			      <input type="text" 
			      		ng-model="newuser.email"
			      		ng-required="true"
			      		autocomplete="off"
			      		placeholder="Votre email">
			      </label>
			   </div>
				<div class="item item-input-inset">
			      <label class="item item-input-wrapper">
			      <i class="icon ion-ios-unlocked-outline placeholder-icon larger"></i>
			      <input type="password" 
			      		ng-model="newuser.password"
			      		ng-required="true"
			      		autocomplete="off"
			      		placeholder="Votre mot de passe">
			      </label>
			   </div>
			   	<div class="item item-input-inset">
			      <label class="item item-input-wrapper">
			      <i class="icon ion-ios-unlocked-outline placeholder-icon larger"></i>
			      <input type="password" 
			      		ng-model="newuser.passwordAgain"
			      		ng-required="true"
			      		autocomplete="off"
			      		placeholder="retapez votre mot de passe">
			      </label>
			   </div>
    		</ion-list>
    		<div class="padding">
				<button class="button button-block " ng-click="createAccount()">Créer mon compte</button>
    		</div>
    		
    		<div style="text-align: center;color:white">
			J'ai mes identifiants, 
				<a 	href="javascript:;"
					style="color:white"
					ng-click="goLogin()">me connecter.</a>
		</div>
    		
    		
    	</form>
    </ion-content>
  </ion-view>


