
<ion-view cache-view="false">
    <ion-nav-bar class="bar-light">
		<!--Logo-->
		<ion-nav-buttons  side="right">
		</ion-nav-buttons>
		<ion-nav-buttons side="left">
		</button>
	</ion-nav-bar>
    <ion-content class="login-content">  	
		<form novalidate class="simple-form" name="accountForm" dont-fill >
    		<ion-list>
				<div class="item item-input-inset">
			      <label class="item item-input-wrapper">
			      <i class="icon ion-ios-email-outline placeholder-icon larger"></i>
			      <input type="text" 
			      		ng-model="newuser.email"
			      		ng-required="true"
			      		autocomplete="off"
			      		placeholder="Votre email">
			      </label>
			   </div>
				<div class="item item-input-inset">
			      <label class="item item-input-wrapper">
			      <i class="icon ion-ios-unlocked-outline placeholder-icon larger"></i>
			      <input type="password" 
			      		ng-model="newuser.password"
			      		ng-required="true"
			      		autocomplete="off"
			      		placeholder="Votre mot de passe">
			      </label>
			   </div>
			   	<div class="item item-input-inset">
			      <label class="item item-input-wrapper">
			      <i class="icon ion-ios-unlocked-outline placeholder-icon larger"></i>
			      <input type="password" 
			      		ng-model="newuser.passwordAgain"
			      		ng-required="true"
			      		autocomplete="off"
			      		placeholder="Votre mot de passe">
			      </label>
			   </div>
    		</ion-list>
    		<div class="padding">
				<button class="button button-block button-positive" ng-click="createAccount()">Créer mon compte</button>
    		</div>
    	</form>
    </ion-content>
  </ion-view>


