<ion-view view-title="Nouvelle fiche patient">
  <ion-content>


<form novalidate class="simple-form" name="accountForm" ng-init="setFormScope(this)">


<ion-list>
	<ion-item class="item-stable">
			<span class="ion-ios-person-outline larger"></span>
           Informations du patient
	</ion-item>
		
	
		<ion-toggle ng-model="patient.actif" toggle-class="toggle-calm">Actif</ion-toggle>
		
	<label class = "item item-input item-select ">
	   <span class = "input-label">
	     Civilité
	   </span>
	   <select ng-model="patient.civilite">	
		      	<option value="Mr">Monsieur</option>
				<option value="Mme">Madame</option>
	   </select>
	</label>
		
	<label class="item item-input"> 
		<span class="input-label">Nom</span>
		<input type="text" 
			placeholder="Nom"
			ng-model="patient.nom">
	</label> 
	
	<label class="item item-input"> 
		<span class="input-label">prenom</span>
		<input type="text" 
			placeholder="Nom"
			ng-model="patient.prenom">
	</label> 
	
	<label class="item item-input"> 
	<span
		class="input-label">Téléphone</span> <input type="tel"
		placeholder="Téléphone" ng-model="patient.telephone">
	</label>
	
	<label class="item item-input"> 
	<span
		class="input-label">Numéro de<br />sécurité sociale</span> <input type="tel"
		placeholder="Num. sécurité sociale" ng-model="patient.numeroSS">
	</label>
	
	<ion-item class="item-stable">
			<span class="ion-ios-location-outline larger"></span>
           Adresse
	</ion-item>
	
	<label class="item item-input"> 
	<span
		class="input-label">Adresse</span> <input type="text"
		placeholder="Adresse" ng-model="patient.adressel1">
	</label>

	<label class="item item-input"> 
	<span
		class="input-label">Code postal</span> <input type="text"
		placeholder="Code postal" ng-model="patient.codePostal">
	</label>
	
	<label class="item item-input"> 
	<span
		class="input-label">Ville</span> <input type="text"
		placeholder="Ville" ng-model="patient.ville">
	</label>	
</ion-list>

<div class="padding">
	<button class="button button-block button-positive" ng-click="registerNewPatient()">Sauvegarder la fiche</button>
</div>	

<div class="padding">
	<button class="button button-block button-positive" ng-click="updatePatient()">mettre à jour la fiche</button>
</div>	
		
  </ion-content>
</ion-view>
