<ion-view view-title="Patients">
  
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-plus-outline"
        	ng-click="addNewPatient()"
         >
        </button>
      </ion-nav-buttons>
  
  <ion-content>
  	 <ion-refresher
	    pulling-text="Tirez vers le bas pour rafraichir..."
	    on-refresh="listPatients()">
	  </ion-refresher>
  
	<ion-list >
		<ion-item ng-repeat="patient in patients" ng-click="openPatient(patient.token)">
			<h2>{{patient.civilite}} {{patient.prenom}} {{patient.nom}}</h2>
		    <p class="ion-ios-location-outline">
		    	{{patient.adressel1}}<br />
		    	{{patient.codePostal}} {{patient.ville}}<br />
		    	
		    </p>
		    <p class="ion-ios-telephone-outline">
		   		<a href="tel:{{patient.telephone}}">{{patient.telephone}} </a>
		    </p>
		    
		    <ion-option-button class="button-assertive">
		      Supprimer
		    </ion-option-button>
		    <ion-option-button class="button-info">
		      Editer
		    </ion-option-button>
		   <div class="item-icon-right">
        		<i class="icon ion-ios-arrow-right"></i>
    		</div>
		</ion-item>
	</ion-list>
	
	
	
  </ion-content>
</ion-view>
