<ion-view cache-view="false">
  <ion-nav-title> {{ patient.nom }} </ion-nav-title>
 <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-compose-outline"
        	ng-click="openPatientUpdate('{{patient.token}}')"
         >
        </button>
      </ion-nav-buttons>
 	<ion-content >
		<ion-card>
  			<ion-item>
			    <h2>{{patient.civilite}} {{patient.prenom}} {{patient.nom}}</h2>
			    <div class="row">
				    <div class="col col-25">
				    	<span class="larger ion-ios-location-outline"></span>
				    </div>
				    <div class="col">
					    <p>{{patient.adressel1}}<br />
					    	{{patient.codePostal}}  {{patient.ville}}
					    </p>
			    	</div>
			    </div>
			    
			    
			   <div class="row">
				    <div class="col col-25">
				    	<span class="larger ion-ios-telephone-outline"></span>
				    </div>
				    <div class="col">
			    		<a href="tel:{{patient.telephone}}">{{patient.telephone}}</a>
			    	</div>
			    </div>
			     <p>
			    	numéro de sécurité sociale : {{patient.numeroSS}}
			    </p>
			</ion-item>
			<ion-item ng-click="openNewOrdonnance()">
			<i class="icon ion-camera"></i>
				Ajouter une ordonnance
				<div class="item-icon-right">
        			<i class="icon ion-ios-arrow-right"></i>
    			</div>
			</ion-item>
			<ion-item>
			<i class="icon ion-ios-chatbubble"></i>
				Ajouter un commentaire
				<div class="item-icon-right">
        			<i class="icon ion-ios-arrow-right"></i>
    			</div>
			</ion-item>
			<ion-item>
			<i class="icon ion-android-wifi"></i>
				Ajouter une transmission
				<div class="item-icon-right">
        			<i class="icon ion-ios-arrow-right"></i>
    			</div>
			</ion-item>

</ion-card>
		
  </ion-content>
</ion-view>
