
.no-border, .no-border .item-input-inset {
	border:none;
	background:none;
}

input {
	    width: 100%;
}

.bar-positive {
	background-color:#7d0000 !important;
	bortder:none !important;
}

.bar.bar-positive {
	border:none !important;
	background: none;
}

.bg-boot {
	background-image:url("bg-login.png"); 
	background-size:100%;
	background-repeat:repeat-y;
}

.popup {
    border-radius: 10px !important;
}

.item .badge {
    right: 50px;
}

.button-large-footer {
    padding: 0 16px !important;
    min-width: 68px !important;
    min-height: 59px !important;
    font-size: 20px !important;
    line-height: 53px !important;
}

/*
** Icon size 
*/
.larger:before {
	font-size:30px !important;
}

/*
** Custom menu
*/
.custom-menu {
	background-color: #7d0000;
}

.custom-menu .item {
	border:none;
	background: none;
	color:white;
}

.custom-menu a.item-content {
	background-color: #7d0000;
	color: white;
}

.custom-menu h4 {
	color: white;
	padding: 15px;
	padding-bottom: 0;
	font-size: 16px;
}

.custom-menu h3 {
	color: white;
	padding: 15px;
	padding-top: 0;
}

@-webkit-keyframes AnimationName {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
}
@keyframes AnimationName { 
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
}

/*
** Login page
*/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
 background:none !important;
}

.login-modal {
	background: linear-gradient(208deg, #d8d8d8, #8c88a2);
	background-size: 400% 400%;
	
	-webkit-animation: AnimationName 5s ease infinite !important;
	-moz-animation: AnimationName 5s ease infinite !important;
	animation: AnimationName 5s ease infinite !important;
}

.login-modal .item {
	background:none;
	border:none;
}

.login-modal .item label {
	background-color:#eee;
}


.login-modal .bar-header {
	border:none !important;
	background:none;
}

/*
** Custom footer
*/
.custom-footer {
	position:absolute;
	bottom:0;
	background-color: rgba(255, 255, 255, 0.5);
}
/*
** Application Page
*/
.app-modal {
	background: linear-gradient(208deg, #d8d8d8, #8c88a2);
	background-size: 400% 400%;
	
	-webkit-animation: AnimationName 5s ease infinite !important;
	-moz-animation: AnimationName 5s ease infinite !important;
	animation: AnimationName 5s ease infinite !important;
}

.app-modal .item {
	background:none;
	border:none;
}

.app-modal .item label {
	background-color:#eee;
}


.app-modal .bar-header {
	border:none !important;
	background:none;
}

